AWS_DEFAULT_REGION=us-east-1
GRAFANA_ADMIN_PASSWORD=local-placeholder
GRAFANA_COGNITO_CLIENT_ID=local-placeholder-client-id
GRAFANA_COGNITO_CLIENT_SECRET=local-placeholder-client-secret
GRAFANA_SECRET_KEY=local-placeholder-secret-key
INFLUXDB_ADMIN_PASSWORD=local-placeholder
INFLUXDB_ADMIN_TOKEN=local-placeholder-token
